.sidebar{
    border-right: 1px solid var(--twitter-background);
    flex: 0.3;
    /* min-width: 250px; */
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.sidebar__twittericon{
    color: var(--twitter-color);
    font-size: 30px !important;
    margin-left: 20px;
    margin-bottom: 20px;
}
.sidebarbutton{
    width: 100%;
    border-style: none;
    background-color: white;
    /* background-color: var(--twitter-background); */
    padding: 5px;
    margin-top: 5px;
    border-radius: 30px;
    
}
.Sidebaroption--active{
    color: var(--twitter-color) ;

    background-color: var(--twitter-background);
    /* background-color: red; */
}

