*{
    box-sizing: border-box;
}
.navTop{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    background-color: black;
    padding: 7px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;

}
.navTop a{
    text-decoration: none;
    font-size: 17px;
    padding-right: 9px;
    padding-left: 9px;
    color: whitesmoke;
}
.navTop a:visited{
    border-bottom: 3px red solid;
}
.navTop div{
    margin-right: 11%;
}
.navTop a:hover{
    border-bottom: 3px red solid;
}

